<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel="stylesheet" href="../css/app.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    </head>

    <body>
<header>
    <div class="control_menu">
        <div class="wrapper">
        <div class="control_logos">
            <img src="../img/media/logo_zakupka.png" alt="">
            <img src="../img/media/vip.png" alt="">
        </div>
        <div class="control_list">
            <ul>
                <li><a href="#">CRM</a></li>
                <li><a href="#">Добавить компанию на Zakupka.com</a></li>
                <li><a href="#">Заказать обратный звонок</a></li>
            </ul>
        </div>
        <a href="#" class="my_cabinet"><span><i class="fas fa-user"></i></span>Мой кабинет</a>
    </div>
</div>
<div class="main_header">
    <div class="logo">
        <img src="../img/media/logo.png" alt="">
    </div>
    <div class="main_menu">
        <div class="toggle_btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu_list">
            <li class="menu_list_item"><a href="#" class="menu_list_link">Главная</a></li>
            <li class="menu_list_item"><a href="#" class="menu_list_link">Товары и услуги</a></li>
            <li class="menu_list_item"><a href="#" class="menu_list_link">Доставка и оплата</a></li>
            <li class="menu_list_item"><a href="#" class="menu_list_link">Контакты</a></li>
        </ul>
        <ul class="icon_list">
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-phone fa-rotate-90"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</div>
</header>
    <section class="content">
            <div class="title_row">
                    <div class="left_side_title">
                        <span>Фильтры</span>
                    </div>
                    <div class="breadcrubs_row">
                        <ul>
                            <li><a href="#"><i class="fas fa-home"></i></a></li>
                            <li><a href="#">Товары и услуги <i class="fas fa-sort-down"></i></a></li>
                            <li><a href="#">Парфюмерия</a></li>
                        </ul>
                    </div>
                 
            </div>
            <div class="wrapper">
                <div class="filter_column">
                    <div class="choosen_filters">
                        <h2>Выбранные фильтры:</h2>
                         <ul>
                             <li><span>для женщин <i class="fas fa-times"></i></span></li>
                             <li><span>для лица <i class="fas fa-times"></i></span></li>
                             <li><span>для ступней <i class="fas fa-times"></i></span></li>
                         </ul>
                         <a href="#" class="del_filters">Убрать все фильтры</a>
                    </div>
                    <h1 class="filter-title">ДИАПАЗОН ЦЕН</h1>
                    <div class="price-range">
                        <div class="input_border">
                        <input type="text" name="" id="">
                    </div>
                    <span class="hyphen"></span>
                    <div class="input_border">
                            <input type="text" name="" id="">
                        </div>
                        <a href="#" class="apply-btn"><span>OK</span></a>
                    </div>
                    <h1 class="filter-title">Пол</h1>
                    <div class="gender_block">
                            <div class="checkbox">
                                <input id="check4" type="checkbox" name="check" value="check4">
                                <label for="check4">Для детей</label>
                                <br>
                                <input id="check5" type="checkbox" name="check" value="check5">
                                <label for="check5">Для мужчин</label>
                                <br>
                                <input id="check6" type="checkbox" name="check" value="check6">
                                <label for="check6">Для женщин</label>
                                    </div>
                                    
                    </div>
                    <h1 class="filter-title">Для чего</h1>
                    <div class="for_what_block">
                            <div class="checkbox">
                                <input id="check1" type="checkbox" name="check" value="check1">
                                <label for="check1">Для рук</label>
                                <br>
                                <input id="check2" type="checkbox" name="check" value="check2">
                                <label for="check2">Для ног</label>
                                <br>
                                <input id="check3" type="checkbox" name="check" value="check3">
                                <label for="check3">Для лица</label>
                                    </div>
                                    
                    </div>
                    <h1 class="filter-title">Возраст</h1>
                    <h1 class="filter-title">Добавки</h1>
                    <h1 class="filter-title">Ароматизаторы</h1>
                    <div class="filter_buttons">
                            <a href="#" class="filter_btn apply"><span>ПРИМЕНИТЬ</span></a>
                            <a href="#" class="filter_btn cancel"><span>Сбросить</span></a>

                    

                    </div>
                    <div class="goods_and_services">
                            <span class="column_title">Товары и услуги</span>

                        <ul class="goods_list">
                            <li><a href="#">Ухаживающая косметика</a></li>
                            <li><a href="#">Парфюмерия</a></li>
                            <li><a href="#">Интимные товары</a>
                                <ul>
                                    <li><a href="#">Помада</a></li>
                                    <li><a href="#">Тени для век и бровей</a></li>
                                    <li><a href="#">Косметические инструменты </a></li>
                                    <li><a href="#">Блеск для губ</a></li>
                                    <li><a href="#">Косметические карандаши</a></li>
                                    <li><a href="#">Пудра косметическая</a></li>
                                    <li><a href="#">Тушь для ресниц</a></li>
                                    <li><a href="#">Тональный крем</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Косметика декоративная</a></li>
                            <li><a href="#">Гигиенические изделия средства</a></li>
                        </ul>
                        </div>
                        <div class="subscribe_block">
                                <span class="column_title">Подписаться на рассылку</span>
                                <div class="input_border"> <input type="email"><span class="plane-icon"><i class="fas fa-paper-plane"></i></span></div>
                                <div class="socials_btns">
                                    <ul>
                                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="odnoklassniki" href="#"><i class="fab fa-odnoklassniki"></i></a></li>
                                    <li><a class="vk" href="#"><i class="fab fa-vk"></i></a></li>
                                    <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a  class="you" href="#"><i class="fab fa-youtube"></i></a></li></ul>
                                </div>
                        </div>
                </div>

                <div class="middle_content">
                    
                        <div class="view_parametrs">
                                <div class="sorted_by">
                                <span>Сортировка:</span>
                                <ul>
                                <li><a href="#">По популярности</a></li>
                                <li><a href="#">По популярности</a></li>
                                <li><a href="#">По популярности</a></li>
                            </ul>

                            <span>Количество товаров на странице:</span>
                            <ul>
                                    <li><a href="#">100</a></li>
                                    <li><a href="#">10</a></li>
                                    <li><a href="#">20</a></li>
                                </ul>
                        </div>
                        <div class="display_type">
                                <span>Вид:</span>
                                <ul>
                                        <li><a href="#"><i class="fas fa-th-large"></i>Галлерея</a></li>
                                        <li><a href="#">Галлерея</a></li>
                                        <li><a href="#">Галлерея</a></li>
                                    </ul>
                              
                        </div>
                        </div>
                        <div class="shop_content">
                            <div class="cards-row six-cards-row">

                                <div class="item_card">
                                    <div class="card_img">
                                        <img src="../img/media/cat.png" alt="cat">
                                    </div>
                                        <div class="price_row">
                                            <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                        </div>
                                        <div class="card_description">
                                                Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                        </div>
                                        <div class="item_status">
                                                <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                        </div>
                                        <a href="#" class="card_btn">
                                                Купить
                                        </a>
                                    
                                </div>
                                <div class="item_card">
                                        <div class="card_img">
                                            <img src="../img/media/cat.png" alt="cat">
                                        </div>
                                            <div class="price_row">
                                                <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                            </div>
                                            <div class="card_description">
                                                    Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                            </div>
                                            <div class="item_status">
                                                <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                            </div>
                                            <a href="#" class="card_btn">
                                                    Купить
                                            </a>
                                        
                                    </div>
                                    <div class="item_card">
                                            <div class="card_img">
                                                <img src="../img/media/cat.png" alt="cat">
                                            </div>
                                                <div class="price_row">
                                                    <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                </div>
                                                <div class="card_description">
                                                        Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                </div>
                                                <div class="item_status">
                                                        <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                </div>
                                                <a href="#" class="card_btn">
                                                        Купить
                                                </a>
                                            
                                        </div>
                                        <div class="item_card">
                                                <div class="card_img">
                                                    <img src="../img/media/cat.png" alt="cat">
                                                </div>
                                                    <div class="price_row">
                                                        <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                    </div>
                                                    <div class="card_description">
                                                            Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                    </div>
                                                    <div class="item_status">
                                                            <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                    </div>
                                                    <a href="#" class="card_btn">
                                                            Купить
                                                    </a>
                                                
                                            </div>
                                            <div class="item_card disabled">
                                                    <div class="card_img">
                                                        <img src="../img/media/cat.png" alt="cat">
                                                    </div>
                                                        <div class="price_row">
                                                            <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                        </div>
                                                        <div class="card_description">
                                                                Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                        </div>
                                                        <div class="item_status">
                                                            <p>нет в наличии</p>
                                                        </div>
                                                        <a href="#" class="card_btn active">
                                                                Купить
                                                        </a>
                                                        <a href="#" class="card_btn disabled">
                                                                Заказать
                                                        </a>
                                                      
                                                    
                                                </div>
                                                <div class="item_card">
                                                        <div class="card_img">
                                                            <img src="../img/media/cat.png" alt="cat">
                                                        </div>
                                                            <div class="price_row">
                                                                <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                            </div>
                                                            <div class="card_description">
                                                                    Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                            </div>
                                                            <div class="item_status">
                                                                    <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                            </div>
                                                            <a href="#" class="card_btn">
                                                                    В корзине
                                                            </a>
                                                      
                                                    </div>

                            </div>
                            <div class="cards-row three-cards-row">
                                    <div class="item_card">
                                            <div class="card_img">
                                                <img src="../img/media/cat.png" alt="cat">
                                            </div>
                                                <div class="price_row">
                                                    <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                </div>
                                                <div class="card_description">
                                                        Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                </div>
                                                <div class="item_status">
                                                        <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                </div>
                                                <a href="#" class="card_btn">
                                                        В корзине
                                                </a>
                                          
                                        </div>
                                        <div class="item_card">
                                                <div class="card_img">
                                                    <img src="../img/media/cat.png" alt="cat">
                                                </div>
                                                    <div class="price_row">
                                                        <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                    </div>
                                                    <div class="card_description">
                                                            Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                    </div>
                                                    <div class="item_status">
                                                            <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                    </div>
                                                    <a href="#" class="card_btn">
                                                            В корзине
                                                    </a>
                                              
                                            </div>
                                            <div class="item_card">
                                                    <div class="card_img">
                                                        <img src="../img/media/cat.png" alt="cat">
                                                    </div>
                                                        <div class="price_row">
                                                            <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                                        </div>
                                                        <div class="card_description">
                                                                Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                                        </div>
                                                        <div class="item_status">
                                                                <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                                        </div>
                                                        <a href="#" class="card_btn">
                                                                В корзине
                                                        </a>
                                                  
                                                </div>
                            </div>
                            <div class="cards-row one-card-row">
                                <div class="item_card">
                                    <div class="card_img">
                                        <img src="../img/media/cat.png" alt="cat">
                                    </div>
                                    <div class="item-inform">
                                        <div class="price_row">
                                            <span class="actual_price">195<span class="currencies">грн</span> </span> <span class="old_price">1000 грн</span>
                                        </div>
                                        <div class="item_status">
                                            <p><span><i class="fas fa-check"></i></span> В наличии</p>
                                    </div>
                                        <div class="card_description">
                                                Набор теней Urban Decay Naked 2 - 12 цветов, Киев
                                        </div>
                                        
                                    </div>
                                        <a href="#" class="card_btn">
                                                В корзине
                                        </a>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                                <ul>
                                    <li><a  href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">100</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                </ul>
                        </div>
                    </div>
            </div>

    </section>
    <footer>
        <div class="wrapper">
            <div class="shop-info">
                <div class="logo">
                    <img src="../img/media/logo.png" alt="">
                </div>
                <p class="descr-info">Интернет-магазин косметики и аксессуаров</p>
                <img src="../img/media/hit.png" alt="">
                <p><a href="#">Сайт создан на платформе Zakupka.com</a></p>
                <p><a href="#">Пожаловаться на содержание</a></p>
                <p>© Все права защищены. 2012-2017 BeautyShop</p>
            </div>
            <div class="useful_links">
                <h2>Полезные ссылки</h2>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul>
                    <li><a href="#">Прайс листы</a></li>
                    <li><a href="#">Фотогалереяс</a></li>
                    <li><a href="#">Тендеры</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Наши партнеры</a></li>
                    <li><a href="#">Вопросы и ответы</a></li>
                </ul>
            </div>
            <div class="contacts">
                    <h2>Контактная информация</h2>
                    <ul>
                        <li><a href="#" class="shop-name">BeautyShop</a></li>
                        <li><a href="#"><span class="user"><i class="fas fa-user"></i></span>Олег Чабанов</a></li>
                        <li><a href="#"><span><i class="fas fa-phone fa-rotate-90"></i></span>+38 (099) 12 34 567</a></li>
                        <li><a href="#"><span><i class="fas fa-map-marker-alt"></i></span> Украина, г.Киев, ул Соборная 251а</a></li>
                        <li><a href="#" class="work-time"><span><i class="far fa-clock"></i></span>
                            <div class="times"> <p>Пн-Пт: 10:00 - 19:00</p>
                            <p>Сб-Вс: 10:00 - 15:00</p></div>
                        </a></li>
                        <li><a href="#"><span><i class="fas fa-envelope"></i></span> Написать нам</a></li>
                    </ul>
            </div>
            <div class="footer_subscribe">
                <h2>Подписаться на рассылку</h2>
                <div class="sub_input">
                <input type="email" placeholder="Email"><span class="plane-icon"><i class="fas fa-paper-plane"></i></span>
            </div>
                <div class="socials_btns">
                        <ul>
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="odnoklassniki" href="#"><i class="fab fa-odnoklassniki"></i></a></li>
                        <li><a class="vk" href="#"><i class="fab fa-vk"></i></a></li>
                        <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a  class="you" href="#"><i class="fab fa-youtube"></i></a></li></ul>
                    </div>
            </div>
        </div>
    </footer>
        <script type="text/javascript" src="../js/app.js"></script>
    </body>
</html>